<%= form_with model: @event do |form| %>
  <div>
    <!-- This is the Label and text field for the event title, required field -->
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", placeholder: 'Enter title', required: true %>
  </div>

  <div class="mt-3">
    <!-- This is the Label and text area for the event description -->
    <%= form.label :description %>
    <%= form.text_area :description, rows: "3", class:"form-control", placeholder: 'Enter some description' %>
  </div>

  <div class="mt-3">
    <!-- This is the Label and date-time field for the event start time, required field -->
    <%= form.label :start_time %>
    <%= form.datetime_local_field :start_time, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <!-- This is the Label and date-time field for the event end time, required field -->
    <%= form.label :end_time %>
    <%= form.datetime_local_field :end_time, class: 'form-control', required: true %>
  </div>

  <div class="mt-3">
    <!-- This is the Label and text field for the guest list, optional field with placeholder hint -->
    <%= form.label :guest_list %>
    <%= form.text_field :guest_list, class: "form-control", placeholder: 'Guest list, comma separated' %>
  </div>

  <div class="mt-3">
    <!-- This is the Submit button -->
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
